.navbar-default .navbar-brand
{
    color:#8c8c8c;
}

.navbar .navbar-nav li a 
{    
    color: #8c8c8c;
}

/* Code tags to be made gray!*/
a {
    color: #8c8c8c;
}

.page-header {
    color: #000000;
}